.orderList
    width: 100%
    height: 100%
    overflow: hidden

    .orderCol
        width: 100%
        height: 180px
        max-height: 180px
        border-radius: 20px
        border: 1px solid #8d8d8d
        background: rgba(255, 255, 255, 0.8)
        text-align: center

        .orderTitle
            line-height: 150px
            font-size: 26px
            color: #747474

    .orderActive
        background: rgba(190, 85, 85, 0.8)
        border-color:  rgba(190, 85, 85, 1)

        .orderTitle
            line-height: 80px
            color: #fff

        .orderInfo
            color: #ffffff
            margin-top: -15px
            text-align: center

            span
                display: inline-block
                width: 56px
